<configuration>
  <dllmap dll="principia" os="windows" cpu="x86-64" target="GameData/Principia/x64/principia.dll"/>
  <dllmap dll="principia" os="linux" cpu="x86-64" target="GameData/Principia/Linux64/principia.so"/>
  <dllmap dll="principia" os="osx" cpu="x86-64" target="GameData/Principia/MacOS64/principia.so" />
</configuration>
