name: Build

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

env:
  PRINCIPIA_MSVC: .
  PRINCIPIA_KSP_ASSEMBLIES_VERSION: 1.12.5

jobs:
  build:
    runs-on: windows-latest
    strategy:
        matrix:
          configuration: [Debug, Release]
    steps:
    - name: Checkout source files
      uses: actions/checkout@v3

    - name: Download KSP assemblies
      run: |
        Invoke-WebRequest                   `
          http://principia.mockingbirdnest.com/${{ secrets.PRINCIPIA_KSP_ASSEMBLIES_DIRECTORY}}/KSP%20Assemblies/${{ env.PRINCIPIA_KSP_ASSEMBLIES_VERSION }}.zip `
          -OutFile 'KSP Assemblies\${{ env.PRINCIPIA_KSP_ASSEMBLIES_VERSION }}.zip'
        Expand-Archive 'KSP Assemblies\${{ env.PRINCIPIA_KSP_ASSEMBLIES_VERSION }}.zip' 'KSP Assemblies

    - name: Download abseil artifact
      uses: mockingbirdnest/actions/windows/download_artifact@main
      with:
        name: abseil-cpp
        directory: Google

    - name: Download benchmark artifact
      uses: mockingbirdnest/actions/windows/download_artifact@main
      with:
        name: benchmark
        directory: Google

    - name: Download gipfeli artifact
      uses: mockingbirdnest/actions/windows/download_artifact@main
      with:
        name: gipfeli
        directory: Google

    - name: Download glog artifact
      uses: mockingbirdnest/actions/windows/download_artifact@main
      with:
        name: glog
        directory: Google

    - name: Download googletest artifact
      uses: mockingbirdnest/actions/windows/download_artifact@main
      with:
        name: googletest
        directory: Google

    - name: Download protobuf artifact
      uses: mockingbirdnest/actions/windows/download_artifact@main
      with:
        name: protobuf
        directory: Google

    - name: Download zfp artifact
      uses: mockingbirdnest/actions/windows/download_artifact@main
      with:
        name: zfp
        directory: 'Third Party'

    - name: Restore ${{ matrix.configuration }}
      uses: mockingbirdnest/actions/windows/restore@main
      with:
        configuration: ${{ matrix.configuration }}
        solution_directory: ${{ env.PRINCIPIA_MSVC }}

    - name: Rebuild ${{ matrix.configuration }}
      uses: mockingbirdnest/actions/windows/rebuild@main
      with:
        configuration: ${{ matrix.configuration }}
        solution_directory: ${{ env.PRINCIPIA_MSVC }}

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: principia_${{ matrix.configuration }}-${{ github.event.repository.pushed_at }}-${{ github.sha }}
        path: ${{ matrix.configuration }}/GameData

