name: Build

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
        matrix:
          configuration: [Debug, Release]
    steps:
    - name: Checkout source files
      uses: actions/checkout@v3
    - name: Find MSBuild version
      shell: pwsh
      run: |
        $msbuild=&.\find_msbuild.ps1
        echo "msbuild=$msbuild" >> $env:GITHUB_ENV
    - name: Restore ${{ matrix.configuration }}
      run: >
        &"${{ env.msbuild }}"
        /target:Restore
        /property:Configuration=${{ matrix.configuration }}
        Principia.sln
    - name: Rebuild ${{ matrix.configuration }}
      run: >
        &"${{ env.msbuild }}"
        /target:"Clean;Build"
        /maxCpuCount
        /property:Configuration=${{ matrix.configuration }}
        /property:Platform=x64
        Principia.sln
